html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #a9a9b3;
}
body {
  font-size: 1rem;
  font-family: "Menlo", "Meslo LG", monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  background-color: #292a2d;
  color: #a9a9b3;
}
header {
  background: #252627;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  font-size: 1.125rem;
}
header, header a {
  color: #a9a9b3;
}
header .wrapper {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu .inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .menu .inner li {
  margin-left: 18px;
}
footer {
  color: #73747b;
  text-align: center;
  font-size: 0.7rem;
  line-height: 18px;
  margin-bottom: 2.5rem;
}
aside .back-to-posts {
  margin-top: 5rem;
}
pre {
  margin: 1rem 0;
  padding: 10px 15px;
  border-radius: 4px;
  background: #212326;
  color: #d1d9e1;
  font-family: "Menlo", "Meslo LG", monospace;
  -webkit-border-radius: 4px;
  word-break: break-all;
  white-space: pre-wrap;
}
#banner {
  height: 480px;
  width: 100%;
  background: url(https://static.eternalelf.com/uploads/2021/02/07/4d3de0c0-9475-4149-a088-6e05db16a2b3) 100%;
  box-shadow: inset 0px 0px 10px rgb(41 42 45 / 90%);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#banner a {
  color: white;
  font-size: 2rem;
}
#title {
  letter-spacing: 0.01em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
}
#posts {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
}
#posts section {
  max-width: 1024px;
  width: 100%;
  text-align: left;
  padding: 20px;
}
#posts section {
  padding: 8px 0;
}
#posts .meta {
  padding-right: 4px;
  width: 88px;
  text-align: right;
  display: inline-block;
  font-family: consolas, courier, monospace;
  color: #73747b;
  font-size: 0.75rem;
  text-transform: uppercase;
}
#pagination {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}
ul.pagination {
  max-width: 1024px;
  width: 100%;
}
.pagination, .pagination li {
  display: inline-block;
}
.pagination li {
  padding: 0 8px;
}
#single {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}
#single time {
  margin-bottom: 2rem;
  display: inline-block;
  color: #73747b;
}
#single article, #single aside, #single section {
  max-width: 1024px;
  width: 100%;
}
#photo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
#photo img {
  object-fit: cover;
  height: 780px;
  width: 100%;
}
.content {
  line-height: 1.6rem;
  color: #c9cacc;
}
.content h2 {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
  color: #eee;
  text-transform: none;
  letter-spacing: normal;
  font-weight: bold;
  font-size: 1rem;
}
.content h2:not(:first-child) {
  margin-top: 2rem;
}
.content h2:before {
  position: absolute;
  top: -4px;
  left: -1rem;
  color: #2bbc8a;
  content: "#";
  font-weight: bold;
  font-size: 1.2rem;
}
.content h3 {
  color: #eee;
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.9rem;
}
.content h4, .content h5, .content h6 {
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}
.content h3, .content h4, .content h5, .content h6 {
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
}
